<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1TDSS BET</title>
    <style>
        nav a {
            color: #07a4ff;
            font-size: 3em;
            max-width: 75px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="#">Sobre</a>
        <a href="#">1TDSS</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>